
.main {
        background-image: url('../media/bg2.png');
            /*при расширении окна и при достижении границы изображения (лево или низ), оно 
            должно увеличиваться(с сохранением пропорций). Окно должно всегда вмещать максимальную площать фона,
            то есть картинка обрезается либо справа, либо снизу*/
            background-size: 100vmax 100vmax;
            background-position-y: top;
            background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    margin: 0 0 50px 0px;
    flex-wrap: wrap;
    
}
.field {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 8px 0 0px 8px;
}

.error {
    display: none;
}

.screen-1 {
    display: none;
}

.screen-2 {
    display: none;
}

.flex-column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main * {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-weight: 600;
    max-width: 80%;
    align-items: center;
    border: none;
    margin: 5px;
}