
table {
    background-color: beige;
    border-collapse: collapse;
}

.nechet td:nth-child(even) {
    background-color: brown;
}
.chet td:nth-child(odd) {
    background-color: brown;
}
td {
    text-align: center;
    width: 70px;
    height: 70px;
    border: 1px solid;
}